<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Product - Crochoria</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Special+Elite&family=Tiny5&display=swap"
        rel="stylesheet"
    >
</head>

<body>

    <header>
        <h1>🧶 Crochoria</h1>
        <p>Add New Product</p>
    </header>

    <main>

        <section class="products">

            <h2>Add Product</h2>

            <form method="POST">

                <label>Product Name</label>
                <input type="text" name="name" required>

                <label>Category</label>
                <input type="text" name="category" required>

                <label>Price</label>
                <input type="number" name="price" step="0.01" required>

                <label>Stock</label>
                <input type="number" name="stock" required>

                <button type="submit">Add Product</button>

            </form>

        </section>

    </main>

</body>
</html>